


body {
    margin: 0;
    background-color: rgb(235, 149, 206);
    background-image: url("cherry.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    
}

h1 {
    font-family: "Courier New", "Lucida Console", monospace;
    color: #51465c;

  
    text-align: left;
    padding-top: 42%;
    padding-left: 5px;
    padding-left: 2%;
    border-bottom: solid;
    border-color: #f7cadf;

}

h2{
    font-family: "Courier New", "Lucida Console", monospace;
    color: #51465c;
}





p{
    font-family: "Courier New", "Lucida Console", monospace;
    color: #51465c;font-family: "Courier New", "Lucida Console", monospace;

}


ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    width: 30%;
    height: 80%;
    position: absolute;
    background-color:rgb(233, 207, 210) ;
    overflow: auto;
    


}


li a {

    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
    padding: 18px;
    text-decoration: none;
}


li a:hover {
    background-color:  rgb(250, 149, 179);
    color: black;
}

a.active {
    background-color:  rgb(250, 149, 179);
    color: black;

}


.column {
    margin-left: 30%;
    height: 1000px;
}


h2 {
   text-align: center;
    height: 10px;
    color: black;
    text-decoration: none;
}


.card {
    background-color: rgb(233, 207, 210) ;
    padding: 20px;
    margin: 10px;
}


.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}







